/* header============ */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
    transition: all 0.2s ease-in-out;
}
.header-scroll {
    /* background-color: #121B1F; */
    transition: all 0.2s ease-in-out;
    box-shadow: 0px -10px 70px -10px #5474ff;
    background-color: rgba(0, 3, 38, 0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1366px;
    width: 90%;
    margin: auto;
    padding: 30px 0;
    transition: all 0.2s ease-in-out;
}
.header-container-scroll {
    transition: all 0.2s ease-in-out;
    padding: 10px 0;

}
.logo-link {
    display: inline-block;
}
.logo-link img {
    height: 40px;
}
.nav {
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
}
.nav a {
    margin-right: 50px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
}
.nav a:hover {
    color: #5474ff;
}
.active {
    font-weight: 900;
    color: #5474ff!important;
}
.about-social {
    display: flex;
}
.about-social a {
    margin-left: 20px;
    margin-right: unset;
    transition: all 0.2s ease-in-out;
}
.about-social-icon:hover svg {
    fill: #4f7302;
    transition: all 0.2s ease-in-out;
}

/* mobile menu =========== */
.menu-button {
    display: none;
}
.menu-close {
    display: none;
}


/* TOP =====================*/
.top-second-open  {
    transform: translateY(0px) !important;
    transition: 0.5s;
}
.top-second {
    right: 20px;
    position: fixed;
    bottom: 20px;
    transform: translateY(95px);
    width: 46px;
    height: 46px;
    margin-left: -23px;
    background-color: var(--main);
    border-radius: 100%;
    box-sizing: border-box;
    z-index: 3;
    transition: 0.5s;
}
.top-second::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 16px;
    height: 16px;
    margin: -3px 0 0 -8px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    box-sizing: border-box;
}
.top-second::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    width: 46px;
    height: 46px;
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sdb03 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
.footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.footer-desc {
    font-size: 14px;
    opacity: 0.5;
    text-align: right;
}
.button {
    background-color: transparent;
    border: 2px solid var(--main);
    padding: 10px 20px;
    display: inline-block;
    transition: all 0.2s;cursor: pointer;
    text-decoration: none;
    color: white;
}
.button:hover {
    background: var(--main);
    transition: all 0.2s;
}

@media (max-width: 896px) {
    /* nav================= */
    .nav {
        position: fixed;
        background: #E6E7E8;
        top: 0;
        left: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        width: 100%;
        transform: translateX(100%);
        padding: 50px;
        z-index: 4;
        align-items: flex-start;
    }
    .nav a {
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        font-size: 26px;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }
    .menu-button {
        display: flex;
        border: none;
        background-color: transparent;
        cursor: pointer;
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 2;
    }
    .menu-close {
        position: fixed;
        top: 15px;
        right: 15px;
        display: flex;
        border: none;
        background-color: transparent;
        cursor: pointer;
        z-index: 3;
        transform: translateX(300%);
        transition: transform 0.4s ease-in-out;
    }
    .is-active {
        transform: translateX(0);
    }
    #nav {
        display: none;
    }
}
