@import url("header-footer.css");

* {
    box-sizing: border-box;
}
:root {
    --maim-bg: #000322;
    --main: #001A89;
    --main-active: #009366;
    --lgray: #F1F2F2;
    --gray: #aaaaaa;
    --dark-gray: #cacaca;
    --dark: #121B1F;
}
body {
    background-color: var(--maim-bg);
    color: white; 
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    position: relative;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar-track {
    background-color: #535353;
}
body::-webkit-scrollbar {
    width: 13px;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--main);
}
i {
    font-size: 16px;
}
.hero {
    position: relative;
    background: rgb(0,2,17);
    background: linear-gradient(164deg, rgba(0,2,17,1) 0%, #000326 100%);
    height: 100vh;
    overflow: unset;
}
.layers {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}
.layer-header {
    max-width: 900px;
    width: 90%;
    position: relative;
    z-index: 1;
    margin-top: -120px;
}
.layer-header-logo {
    width: 100%;
    z-index: 1;
    position: absolute;
}
.layer-header-logo-bg {
    position: absolute;
    top: -200px;
    left: -200px;
    width: 600px;
}
.layer {
    position: absolute;
}
.layer-1 {
    height: auto;
    width: 45%;
    top: 0;
    left: 0;
}
.layer-2 {
    height: auto;
    width: 70%;
    top: 0;
    left: 0;
}
.layer-3 {
    height: auto;
    width: 90%;
    top: 0;
    left: 0;
}
.layer-4 {
    height: auto;
    width: 50%;
    bottom: 0;
    right: 0;
    margin-bottom: -7em;
    z-index: -1;
}
.layer-5 {
    top: -280px;
    left: -200px;
    z-index: 0;
}

/* section =================== */
section {
    position: relative;
    padding: 5em 0;
    overflow: hidden;
}
#about{
    overflow: hidden;
}
#about .main-title {
    margin-bottom: 100px;
    margin-top: -40px;
}
.about-text {
    max-width: 800px;
    width: 90%;
    font-size: 32px;
}
#other, #footer {
    background-color: #15172d;
}
.other {
    display: none;
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.other-visible {
    display: block;
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.other-hidden {
    display: inline-block;
    margin-top: 50px;
}
.bg-light {
    background-color: var(--lgray);
    color: black
}
.container {
    max-width: 1366px;
    width: 90%;
    margin: 0 auto;
}
.container-inner {

    position: relative;
}
.main-title {
    font-size: 4em;
    font-weight: 900;
    color: white;
    font-family: 'Unbounded';
    z-index: 3;
    margin-bottom: 50px;
}

.devider {
    width: 100%;
    margin: 3em 0;
    display: flex;
    align-items: center;
}
.devider-logo-el {
    height: 32px;
    margin-right: 30px;
}
.devider-line {
    height: 2px;
    width: 100%;
    background-color: var(--main);
}

/* items */
.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.item {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}
.item-column {
    width: 90% !important; 
}
.item-title {
    font-size: 1.2em;
    font-weight: 700;
}
.item-info {
    width: 55%;
    z-index: 3;
}
/* circles */
.circles {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-image-right {
    height: 500px;
    width: 500px;
    border-radius: 500px;
    background-color: var(--main);
    position: relative;
    z-index: 2;
}
.c-i-right-2 {
    animation: scale 5s infinite;
}
@keyframes scale {
    0% {
        transform: scale(0.95);
    }
    50% {
        transform: scale(0.90);
    }
    100% {
        transform: scale(0.95);
    }
}
.blur-circle-right {
    opacity: 0.5;
    position: absolute;
    scale: 1;
    animation: scale-blur 5s infinite;
}
@keyframes scale-blur {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
.circle-border-right {
    border: 8px solid rgb(40, 88, 137);
    position: absolute;
    background: transparent;
    height: 500px;
    width: 500px;
    border-radius: 500px;
    animation: scale-border 5s infinite;
}
@keyframes scale-border {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
.circle-fill-right {
    border-radius: 500px;
    position: absolute;
    background-color: var(--main);
    z-index: 1;
    animation: opacity 5s infinite;
}
@keyframes opacity {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.5;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.c-f-right-1 {
    top: -15%;
    right: 0;
    height: 100px;
    width: 100px;
}
.blur-circle-left {
    height: 1200px;
    position: absolute;
    top: 25%;
    left: -550px;
    z-index: 1;
    opacity: 0.2;
}
.products {
    display: flex;
    height: 750px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    flex-direction: row;
}

.product-1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 500px;
}
.product-2 {
    position: absolute;
    top: 420px;
    left: 500px;
    height: 300px;
    width: 300px;
}
.product-3 {
    position: absolute;
    top: 100px;
    right: 0;
    height: 500px;
    width: 500px;
}
.product-image {
    width: 100%;
    height: 100%;
}
.product-border {
    height: 100%;
    width: 100%;
    border: 8px solid rgb(40, 88, 137);
    position: absolute;
    background: transparent;
    border-radius: 500px;
    top: 0;
    animation: scale-product-border 5s infinite;
}
@keyframes scale-product-border {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.services-item {
    position: relative;
    max-width: 520px;
    width: 100%;
    height: auto;
    margin: 10px;
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    text-decoration: none;
}
.services-item:hover {
    position: relative;
    max-width: 520px;
    width: 100%;
    height: auto;
    margin: 10px;
    box-shadow: 0px 30px 70px -30px #5474ff;
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.services-item .lines {
    background: linear-gradient(to bottom, #5474ff 4px, transparent 4px) 0 0, linear-gradient(to right, #5474ff 4px, transparent 4px) 0 100%, linear-gradient(to left, #5474ff 4px, transparent 4px) 100% 0, linear-gradient(to top, #5474ff 4px, transparent 4px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 0px 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-size 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.services-item .angles {
    background: linear-gradient(to right, #5474ff 4px, transparent 4px) 0 0, linear-gradient(to bottom, #5474ff 4px, transparent 4px) 0 0, linear-gradient(to left, #5474ff 4px, transparent 4px) 100% 0, linear-gradient(to bottom, #5474ff 4px, transparent 4px) 100% 0, linear-gradient(to left, #5474ff 4px, transparent 4px) 100% 100%, linear-gradient(to top, #5474ff 4px, transparent 4px) 100% 100%, linear-gradient(to right, #5474ff 4px, transparent 4px) 0 100%, linear-gradient(to top, #5474ff 4px, transparent 4px) 0 100%;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-size 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.services-item:hover .lines {
    background-size: 100% 100%;
}
.services-item:hover .angles {
    background-size: 30px 30px;
}
.services-item article {
    padding: 30px;
}
.services-item article:before {
    content: '';
    background-color: #5474ff;
    opacity: 0.1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    width: 100%;
    height: 100%;
}
.services-item article:hover:before {
    opacity: 0.2;
}
.services-item-title {
    font-family: 'Unbounded';
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 20px;
    color: var(--main);
}
ol {
    max-width: 800px;
    width: 100%;
}
ol li {
    padding: 10px 0;
}

@media (max-width: 1180px) {
    .circles {
        right: -160px;
    }
    .item-info {
        width: 60%;
    }
    .product-1 {
        position: relative;
    }
    .product-2 {
        position: relative;
    }
    .product-3 {
        position: relative;
    }
}


@media (max-width: 820px) {
    .item-info {
        width: 80%;
    }
    .circles {
        right: 30px;
        transform: unset;
        position: unset;
        height: 550px;
    }
    .circle-image-right {
        height: 450px;
        width: 450px;
        right: unset;
        top: 0;
    } 
    .circle-fill-right {
        height: 340px;
        width: 340px;
        right: 16px;
    } 
    .c-f-right-1 {
        top: 60%;
    }
    .hero {
        overflow: hidden;
    }
}

@media (max-width: 480px) {
    .item {
        flex-direction: column;
    }
    .item-info {
        width: 100%!important;
    }
    section {
        overflow: hidden;
    } 
    .circles {
        position: unset;
        height: 450px;
        transform: unset;
    }
    .circle-image-right {
        height: 340px;
        width: 340px;
        right: unset;
        top: 0;
    } 
    .circle-fill-right {
        display: none;
    } 
    .c-f-right-1 {
        display: none;
    }
    .container-inner {
        display: flex;
        flex-direction: column;
    }
    .main-title {
        font-size: 2em;
    }
    .circles {
        right: -160px;
    }
    .item-info {
        width: 60%;
    }
    .products {
        flex-direction: column;
        height: unset;
        position: unset;
    }
    .product-1 {
        position: relative;
        top: 0;
        right: 0;
        height: 320px;
        width: 320px;
    }
    .product-2 {
        position: relative;
        top: 0;
        right: 0;
        height: 320px;
        width: 320px;
    }
    .product-3 {
        position: relative;
        top: 0;
        right: 0;
        height: 320px;
        width: 320px;
    }
    .services-item-title {
        font-size: 20px;
        line-height: 1.5;
    }
}
