@import url("header-footer.css");


* {
    box-sizing: border-box;
}
:root {
    --main: #285989;
    --main-active: #009366;
    --lgray: #F1F2F2;
    --gray: #aaaaaa;
    --dark-gray: #cacaca;
    --dark: #121B1F;

}
body {
    background-color: var(--dark);
    color: white; 
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    position: relative;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar-track {
    background-color: #535353;
}
body::-webkit-scrollbar {
    width: 13px;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--main);
}
i {
    font-size: 16px;
}
.hero {
    position: relative;
}
.layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.layer-header {
    max-width: 800px;
    width: 90%;
    text-align: center;
    margin-top: -70px;
    padding: 30px;
    background-color: var(--main);
}
.layer-header-logo {
    width: 100%;
    margin-bottom: 30px;
}
.layer-header-title {
    font-size: 1.5em;
    color: white;
}
.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
}

/* section =================== */
section {
    position: relative;
    padding: 5em 0;
    overflow: hidden;
}
.bg-light {
    background-color: var(--lgray);
    color: black
}
.container {
    max-width: 1366px;
    width: 90%;
    margin: 0 auto;
}
.container-inner {

    position: relative;
}
.main-title {
    font-size: 3em;
    font-weight: 900;
    background: linear-gradient(45deg, var(--main), #ff00ac);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-family: 'Unbounded';
}

.devider {
    width: 100%;
    margin: 3em 0;
    display: flex;
    align-items: center;
}
.devider-logo-el {
    height: 32px;
    margin-right: 30px;
}
.devider-line {
    height: 2px;
    width: 100%;
    background-color: var(--main);
}

/* items */
.item {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}
.item-column {
    width: 90% !important; 
}
.item-count {
    height: 70px;
    width: 70px;
    border: 2px solid var(--main);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Unbounded';
    font-weight: 900;
    font-size: 2.5em ;
    color: var(--main);
    margin-right: 30px;
    margin-bottom: 30px;
    animation: border-color 3s infinite;
}
@keyframes border-color {
    0% {
      border-color: #ff00ac;
      font-size: 2.5em;
    }
    50% {
      border-color: var(--main);
      font-size: 2em;

    }
    100% {
      border-color: #ff00ac;
      font-size: 2.5em;
    }
}


.item-title {
    font-size: 1.5em;
    font-weight: 700;
}
.item-info {
    width: 55%;
    z-index: 3;
}

/* circles */
.circles {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.circles-2 {
    right: 55%;
    top: 120%;
    transform: translate(50%, -50%);
    }
.circles-inner {
    position: relative;
}
.circle-image-right {
    height: 500px;
    width: 500px;
    border-radius: 500px;
    background-color: var(--main);
    position: relative;
    z-index: 2;
}
.c-i-right-1 {
    animation: scale 5s infinite;
}
@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
.c-i-right-2 {
    animation: scale 5s infinite;
}
@keyframes scale {
    0% {
        transform: scale(0.95);
    }
    50% {
        transform: scale(0.90);
    }
    100% {
        transform: scale(0.95);
    }
}
.blur-circle-right {
    opacity: 0.5;
    position: absolute;
    scale: 1;
    animation: scale-blur 5s infinite;
}
@keyframes scale-blur {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
.circle-border-right {
    border: 8px solid rgb(40, 88, 137);
    position: absolute;
    background: transparent;
    height: 500px;
    width: 500px;
    border-radius: 500px;
    animation: scale-border 5s infinite;
}
@keyframes scale-border {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
.circle-logo {
    height: 200px;
    width: 200px;
    position: absolute;
    z-index: 9;
    animation: scale-logo 5s infinite;
}
@keyframes scale-logo {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
.c-i-right-3 {
    width: 400px;
    height: 400px;
    background-color: transparent;
    border: 8px solid rgb(40, 88, 137);
    animation: border-opacity 5s infinite;
}
@keyframes border-opacity {
    0% {
        border: 8px solid rgba(40, 88, 137, 0);
    }
    50% {
        border: 20px solid rgba(40, 88, 137, 1);
    }
    100% {
        border: 8px solid rgba(40, 88, 137, 0);
    }
}
.circle-fill-right {
    border-radius: 500px;
    position: absolute;
    background-color: var(--main);
    z-index: 1;
    animation: opacity 5s infinite;
}
@keyframes opacity {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.5;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.c-f-right-1 {
    top: -15%;
    right: 0;
    height: 100px;
    width: 100px;
}
.c-f-right-2 {
    top: 100%;
    right: 400px;
    height: 100px;
    width: 100px;
}
.c-f-right-3 {
    width: 300px;
    height: 300px;
}
.c-f-right-4 {
    top: -15%;
    left: 20px;
    width: 100px;
    height: 100px;
}

.blur-circle-left {
    height: 1200px;
    position: absolute;
    top: 25%;
    left: -550px;
    z-index: 1;
    opacity: 0.2;
}





@media (max-width: 1180px) {

    .circles {
        right: -160px;
    }
    .circles-2 {
        right: 530px !important;
    }
    .circles-3 {
        right: 0px !important;
    }
    .item-info {
        width: 60%;
    }
}


@media (max-width: 820px) {
    .item-info {
        width: 80%;
    }
    .circles {
        right: 30px;
        transform: unset;
        position: unset;
        height: 550px;
    }
    .circle-image-right {
        height: 450px;
        width: 450px;
        right: unset;
        top: 0;
    } 
    .circle-fill-right {
        height: 340px;
        width: 340px;
        right: 16px;
    } 
    .c-f-right-1, .c-f-right-2, .c-f-right-4 {
        top: 60%;
    }
    .c-f-right-3 {
        right: 200px;
    }

}


@media (max-width: 480px) {
    .item {
        flex-direction: column;
    }
    .item-info {
        width: 100%;
    }
    section {
        overflow: hidden;
    } 
    .circles {
        position: relative;
        height: 450px;
        transform: unset;
    }
    .circle-image-right {
        height: 340px;
        width: 340px;
        right: unset;
        top: 0;
    } 
    .circle-fill-right {
        height: 340px;
        width: 340px;
        right: 16px;
    } 
    .c-f-right-1, .c-f-right-2 {
        top: 12%;
    }

    .container-inner {
        display: flex;
        flex-direction: column;
    }
    .main-title {
        font-size: 2em;
    }
}
