@font-face {
    font-family: 'Lato-Regular';
    src: url('/fonts/Lato-Regular.ttf'),
    url('/fonts/Lato-Regular.ttf'),
}
@font-face {
    font-family: 'Lato-Medium';
    src: url('/fonts/Lato-Medium.ttf'),
    url('/fonts/Lato-Medium.ttf'),
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('/fonts/Lato-Bold.ttf'),
    url('/fonts/Lato-Bold.ttf'),
}

* {
    box-sizing: border-box;
}
:root {
    --main: #1E1E1E;
    --body: #F3F7F6
}
body {
    background-color: var(--body);
    font-family: 'Lato-Regular', sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
body::-webkit-scrollbar-track {
    background-color: #535353;
}
body::-webkit-scrollbar {
    width: 13px;
}
body::-webkit-scrollbar-thumb {
    background-color: #18ae72;
}
h1, h2, h3 {
    margin-top: 0px!important;
}
a {
    text-decoration: none;
}
p {
    line-height: 1.4;
}
.button {
    padding: 15px 30px;
    border-radius: 40px;
    text-transform: uppercase;
    letter-spacing: 1.4;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    white-space: nowrap;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.main-button {
    background: var(--main);
    color: white;
}
.button-secondary {
    border: 1px solid #1E1E1E;
}
.header-button {
    margin: 12px;
}
.tag {
    padding: 10px 20px!important;
}
/* header =============== */
header {
    width: 100%;
    padding: 20px 40px;
}
.header-content {
    width: 1320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 40px;
    background-color: white;
    margin: auto;
}
.logo {
    margin-left: 40px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
nav ul li {
    margin: 0 20px;
}
nav ul li a {
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
}
.mt30 {
    margin-top: 30px;
}
.mt60 {
    margin-top: 60px;
}
/* hero ===================== */
.hero {
    margin: auto;
}
.hero-button {
    background-color: white;
    color: black;
    display: inline-flex;
    margin-top: 28px;
    padding: 8px !important;
    align-items: center;
    gap: 14px;
}
.hero-content {
    background: url(../img/hero.jpg) no-repeat center center / cover;
    height: 648px;
    border-radius: 40px;
    overflow: hidden;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.hero-content-title {
    font-size: 52px;
    text-transform: uppercase;
}
/* section ============= */
section {
    padding: 0 40px 40px 40px;
}
.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}
.title {
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 40px;
}
/* about */
#about .container {
    display: flex;
    align-items: center;
    gap: 40px;
}

#info .container {
    display: flex;
    align-items: center;
    gap: 40px;
}
#design .container {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}
.section-image {
    width: 540px;
    overflow: hidden;
    border-radius: 40px;
    flex-shrink: 0;
}
.section-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: 320px;
    background: white;
    border-radius: 40px;
    padding: 60px;
}
.section-content p {
    margin-top: 0;
}
.about-image {
    background: url(../img/about.jpg) no-repeat center center / cover;
    height: 320px;
}
.about-content {
    height: 320px;
}
.info-image{
    background: url(../img/info.jpg) no-repeat center center / cover;
    height: 756px;
} 
.info-content {
    height: 756px;
}
.slider-block {
    position: relative;
    padding-bottom: 40px;
}
.slider-image {
    margin: 10px;
    border-radius: 30px;
    overflow: hidden;
}
.partners {
    background: white;
    border-radius: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.partners-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.slick-prev, .slick-next {
    background-color: #ddd; /* Серый фон */
    color: #333; /* Тёмно-серый текст */
    border: none; /* Убрать границу */
    border-radius: 5px; /* Скруглённые края */
    padding: 10px 20px; /* Отступы вокруг текста */
    cursor: pointer; /* Курсор в виде указателя */
    outline: none; /* Убрать контур при фокусе */
}

.slick-prev:hover, .slick-next:hover {
    background-color: #bbb; /* Светлее при наведении */
}

.slick-prev {
    position: absolute;
    left: 10px; /* Отступ слева */
    top: 50%; /* Центрировать по вертикали */
    transform: translateY(-50%); /* Сдвиг для точного центрирования */
}

.slick-next {
    position: absolute;
    right: 10px; /* Отступ справа */
    top: 50%; /* Центрировать по вертикали */
    transform: translateY(-50%); /* Сдвиг для точного центрирования */
}

/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}
.footer > div {
    flex-basis: 33%;
}
.footer-logo {
    height: 34px;
}
.block {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.block .title {
    margin: 0;
}
.logo-block {
    align-items: flex-start;
}
.contact-block {
    align-items: center;
}
.contacts {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    text-align: center;
}
.bot-block {
    text-align: right;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 60px;
}
.button-bot {
    padding: 17px;
    display: flex;
    align-items: center;
    width: 330px;
    height: auto;
    gap: 17px;
    background-color: white;
    border-radius: 60px;
}
